Flask==2.0.2
redis==4.0.2
hotqueue==0.2.8
Werkzeug==2.0.2
Jinja2>=3.0
click>=7.1.2
itsdangerous>=2.0
deprecated
wrapt
requests

matplotlib==3.5.1
geopy==2.2.0
geopandas==0.10.2
folium==0.12.1

HotQueue==1.2.7
requests==2.27.1
pandas==1.4.0
